/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 2:17:00 AM
    Author     : user
*/
/*.usersTable{
    box-shadow: 10px 10px 5px grey;
}*/
.mainButtons {
    border-radius: 10% !important;
    margin: 20px;
}
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
